.review1 {
  padding: 0 0 100px 0;
  h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 60px;
    color: #2b7bd4;
  }
}

.from {
  background: white;
  border-radius: 12px;
  border: 1px solid rgb(223, 209, 209);
  padding: 20px;
  text-align: left;
  min-height: 300px;
  
}

.from h6 {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

.from p {
  font-size: 20px;
  font-weight: 700;
  line-height: 35px;
  color: #020202;
}

.image {
  text-align: right;
}

.image img {
  width: 15%;
}

.profil {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  
}

.text1 h6 {
  font-size: 18px;
  font-weight: 700;
  color: #020202;
}

.text1 span {
  font-size: 16px;
  font-weight: 400;
  color: #777;
}
