.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  .modalContent {
    text-align: center;
    background: #ffffff;
    padding: clamp(16px, 4vw, 24px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    width: clamp(400px, 60%, 40%);

    height: 650px;

    margin: auto;
    position: relative;

    .close {
      font-size: 30px;
      position: absolute;
      top: 20px;
      right: 30px;
    }

    .title {
      font-size: clamp(1.2rem, 2vw, 1.5rem);
      font-weight: bold;
      margin: clamp(10px, 2vw, 20px) auto;
      text-align: center;
      color: #000000;

      margin-bottom: 40px;
      margin-top: 30px;
    }

    .form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: clamp(10px, 2vw, 20px);

      .input {
        width: 100%;
        max-width: 500px;
        height: clamp(40px, 5vh, 60px);
        border-radius: 5px;
        font-size: clamp(0.9rem, 1.5vw, 1rem);
        outline: none;
        background: #efefef;
        border: none;
        padding-left: clamp(10px, 2vw, 20px);
      }

      select{
        color: #7E7B7B;


      }




      .errorInput {
        border-color: red;
        background-color: #ffe6e6;
      }

    

      .error {
        color: red;
        font-size: 12px;
        margin-top: 5px;
      }

      .submitButton {
        background: #2B7BD4;

    
        color: #ffffff;
        padding: clamp(12px, 3vw, 23px) clamp(10%, 32%, 59%);
        font-size: clamp(0.9rem, 1.5vw, 1rem);
        font-weight: 300;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: clamp(20px, 3vw, 30px);

        &:hover {
          background: #2B7BD4;
        }
      }
    }

    .icon1 {
      height: clamp(80px, 10vw, 70%);

      color:#2B7BD4;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: clamp(10px, 4vw, 15px);
      padding-top: 50px;

      h1 {
        font-size: clamp(1rem, 12vw, 10rem);
      }

      p {
        text-align: center;
        font-size: clamp(1rem, 2vw, 1.5rem);
        margin-top: 20px;
      }

      h2 {
        font-size: clamp(1rem, 3vw, 2rem);
        margin-top: 40px;
      }
    }
  }
}

@media (max-width: 1430px) {
  .modal {
    .modalContent {
      height: 620px;

      .title {
        padding-top: 40px;
      }

      .form {
        .submitButton {
       
          padding: clamp(12px, 3vw, 20px) clamp(10%, 40%, 69%);
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 3vw, 30px);
        }
      }

      .icon1 {
        p {
          text-align: center;
          font-size: clamp(1rem, 2vw, 1.3rem);
        }
      }
    }
  }
}

@media (max-width: 1170px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(450px, 60%, 40%);
      height: 610px;
      margin: auto;
      position: relative;

      .title {
        padding-top: 40px;
      }

      .form {
        .submitButton {
      
          color: #ffffff;
          padding: clamp(12px, 3vw, 20px) clamp(10%, 40%, 69%);
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 3vw, 30px);
        }
      }

      .icon1 {
        p {
          text-align: center;
          font-size: clamp(1rem, 2vw, 1.3rem);
        }
      }
    }
  }
}

@media (max-width: 1132px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(450px, 60%, 45%);
      height: 570px;
      margin: auto;
      position: relative;

      .title {
        padding-top: 10px;
      }

      .form {
        .input {
          width: 100%;
          max-width: 350px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {
   
          color: #ffffff;
          padding: clamp(9px, 3vw, 14px) 30%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
        }
      }
    }
  }
}

@media (max-width: 1182px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(450px, 60%, 45%);
      height: 580px;
      margin: auto;
      position: relative;

      .title {
        padding-top: 10px;
      }

      .form {
        .input {
          width: 100%;
          max-width: 350px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {
 
       
          padding: clamp(9px, 3vw, 14px) 31%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(450px, 60%, 45%);
      height: 540px;
      margin: auto;
      position: relative;

      .title {
        padding-top: 10px;
      }

      .form {
        .input {
          width: 100%;
          max-width: 350px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {
     
          color: #ffffff;
          padding: clamp(9px, 3vw, 14px) 31%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
        }
      }

      .icon1 {
        p {
          text-align: center;
          font-size: clamp(1rem, 2vw, 1.3rem);
        }

        h2 {
          font-size: clamp(1rem, 3vw, 2rem);
          margin-top: 70px;
        }
      }
    }
  }
}

@media (max-width: 715px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(450px, 60%, 45%);
      height: 520px;
      margin: auto;
      position: relative;

      .title {
        padding-top: 10px;
      }

      .form {
        .input {
          width: 100%;
          max-width: 350px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {
   
          color: #ffffff;
          padding: clamp(9px, 3vw, 14px) 31%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
        }
      }

      .icon1 {
        h1 {
          font-size: clamp(2rem, 12vw, 10rem);
        }

        p {
          text-align: center;
          font-size: clamp(1.3rem, 2vw, 1.3rem);
        }

        h2 {
          font-size: clamp(1.8rem, 3vw, 2rem);
          margin-top: 70px;
        }
      }
    }
  }
}

@media (max-width: 599px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(370px, 60%, 45%);
      height: 500px;
      margin: auto;
      position: relative;
      top: 0;
      right: 0px;
     

      .title {
        padding-top: 10px;
        font-size: clamp(1.1rem, 1vw, 2rem);
      }

      .form {
        .input {
          width: 100%;
          max-width: 350px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {

          color: #ffffff;
          padding: clamp(9px, 3vw, 14px) 31%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
        }
      }
    }
  }
}

@media (max-width: 482px) {
  .modal {
    .modalContent {
      text-align: center;
      background: #ffffff;
      padding: clamp(16px, 4vw, 24px);
      border-radius: 10px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      max-width: 700px;
      width: clamp(300px, 60%, 45%);
      height: 450px;
      margin: auto;
      position: relative;
      top: 0;
      right: 0px;

      .title {
        margin-bottom: 10px;
      }

      .form {
        .input {
          width: 100%;
          max-width: 250px;
          height: clamp(40px, 5vh, 50px);
          border-radius: 5px;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          outline: none;
          background: #efefef;
          border: none;
          padding-left: clamp(10px, 2vw, 20px);
        }

        .submitButton {
      
          color: #ffffff;
          padding: clamp(9px, 3vw, 10px) 33%;
          font-size: clamp(0.9rem, 1.5vw, 1rem);
          font-weight: 300;
          border: none;
          border-radius: 5px;
          cursor: pointer;
          margin-top: clamp(20px, 2vw, 20px);
          padding-bottom: 10px;
        }
      }
    }
  }
}