#enter {
    background: url("../../../../src/assets/img/бэкграунд.png") no-repeat center, linear-gradient(to right, #fff 50%, rgba(164, 207, 255, 1) 50%);
    padding: 100px 0;
    .enter {
        display: flex;
        justify-content: space-between;
    }
}

@media (max-width:1080px) {
    #enter {
        background: url("../../../../src/assets/img/бэкграунд.png") no-repeat  21% -3%, linear-gradient(to right, #fff 50%, rgba(164, 207, 255, 1) 50%);
        padding: 0;
        .enter {
            flex-direction: column;
            gap: 100px;
            align-items: center;
            padding: 20px 0;
        }
    }
}
@media (max-width:600px) {
    #enter {
        .enter {
            flex-direction: column;
            gap: 100px;
            align-items: center;
            padding: 20px 0;
        }
    }
}