// styles/PasswordRecovery.module.scss

.passRecovery {
    width: 40%;
    border-radius: 20px;
    padding: 40px 20px;
    background: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  
    h1 {
      font-size: 20px;
      font-weight: 600;
      margin: 20px 0;
    }
  }
  
  .form {
    width: 100%;
    
    input {
      margin-top: 15px;
      border: 1px solid rgba(225, 225, 225, 1);
      width: 100%;
      height: 54px;
      border-radius: 10px;
      outline: none;
      padding: 16px 18px;
      
      &:focus {
        border-color: rgba(43, 123, 212, 0.8);
      }
    }
  }
  
  .buttons {
    width: 100%;
    margin: 70px 0 0 0;
    display: flex;
    justify-content: space-between;
  }
  
  .backButton {
    width: 36%;
    height: 54px;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: rgba(43, 123, 212, 1);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
    &:hover {
      background: rgba(43, 123, 212, 0.1);
    }
  }
  
  .loginButton {
    width: 60%;
    height: 54px;
    border: none;
    border-radius: 10px;
    background: rgba(43, 123, 212, 1);
    color: white;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    
    &:hover {
      background: rgba(43, 123, 212, 0.9);
    }
  }
  
  @media (max-width: 1080px) {
    .passRecovery {
      width: 60%;
      margin-top: 40px;
    }
  }
  
  @media (max-width: 700px) {
    .passRecovery {
      width: 80%;
    }
  }
  
  @media (max-width: 600px) {
    .passRecovery {
      padding: 16px 6px;
      width: 300px;
      
      img {
        width: 150px;
        height: auto;
      }
      
      h1 {
        font-size: 16px;
      }
    }
    
    .form {
      input {
        height: 40px;
      }
    }
    
    .backButton,
    .loginButton {
      height: 34px;
      font-size: 13px;
    }
  }